:root {
  /* Paleta branca e preta */
  --c1: #dedede;
  --c2: #717171;
  --c3: #cecfd2;
  --c4: #111111;
  --c5: #000000;
  --c6: #b4b4b4;
}

body {
  font-family: "Poppins", arial, sans-serif;
  background: var(--c5);
}

main {
  background: var(--c5);
  color: var(--c1);
  border-radius: 90px 90px 0 0;
  border-top: 2px solid var(--c1);
}
.container {
  margin: auto;
  max-width: 800px;
}

.titulo {
  font-size: 3em;
  text-align: center;
}

.titulo-texto {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 30px;
}

.cronometro-tempo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 460px;
  border-radius: 50px 50px 25px 25px;
  border-top: 2px solid var(--c1);
  border-bottom: 2px solid var(--c2);
  color: var(--c1);
  background: var(--c5);
}

.cronometro-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.cronometro-sessao {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-right: 2px solid var(--c1);
  border-bottom: 2px solid var(--c1);
}

.cronometro-intervalo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-left: 2px solid var(--c1);
  border-bottom: 2px solid var(--c1);
}
.modificador {
  background-color: transparent;
  color: white;
  font-size: 14px;
  text-align: center;
  margin: 16px auto;
  border: none;
}

.tempo-restante {
  font-size: 4em;
  margin-bottom: 10px;
}

.botao-bg {
  padding: 5px;
  border-radius: 50%;
  border: none;
  background: var(--c2);
}

.botao-bg:hover {
  background: var(--c1);
  cursor: pointer;
}

.botao-propriedades {
  display: flex;
  flex-direction: row;
  gap: 30px;
  max-width: max-content;
  border-radius: 0 0 25px 25px;
  background: var(--c5);
  color: var(--c5);
  border-bottom: 2px solid var(--c2);
}

.footer-botao {
  font-family: "Poppins", arial, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background: var(--c6);
  border: 1px solid var(--c2);
  margin: 10px;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}

.footer-botao:disabled {
  color: inherit;
}
